<h1 class="mb-4">Places</h1>

<% if @current_user %>
  <div class="mb-4">
    <a href="/places/new" class="btn btn-primary">New Place</a>
  </div>
<% end %>

<div class="row">
  <% for place in @places %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= place["name"] %></h5>
          <a href="/places/<%= place["id"] %>" class="btn btn-outline-primary">View Entries</a>
        </div>
      </div>
    </div>
  <% end %>
</div>